
progressbar2
gdown
gitpython
git+https://github.com/cheind/py-thin-plate-spline
hickle
numpy
git+https://github.com/facebookresearch/segment-anything.git
opencv-python
matplotlib
pyyaml
av
openmim
tqdm
psutil
mmcv-full
ffmpeg

